<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Order Item page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</head>
<body>
<h2 style="display: block;margin:0px;background: deepskyblue;text-align: center">Order an Item from stock list</h2>
<br/>
<div style="width: 600px;height: auto;margin-left: auto;margin-right: auto">
<table class="table">
    <thead class="thead-dark">
    <th scope="col">Item Id</th>
    <th scope="col">Item Name</th>
    <th scope="col">Item Cost</th>
    <th scope="col">Item Company</th>
    <th scope="col">Order Item</th>
    </thead>
    <tbody>
    <tr th:each = "item: ${items}">
        <td th:text="${item.getItemId()}" scope="row"></td>
        <td th:text="${item.getItemName()}"></td>
        <td th:text="${item.getCost()}"></td>
        <td th:text="${item.getCompany()}"></td>
        <td>
            <form th:action="@{/user/orderItem}" method="post">
                <input type="text" hidden id="itemId" th:value="${item.getItemId()}" name="itemId">
                <input type="submit" value="Order"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>

<br/>
<button type="button" class="btn btn-primary" style="margin: 2px"><a th:href="@{/successHandler}" style="color: white;text-decoration: none;">Back to Home Page</a></button>
</body>
</html>
